<section style="position: relative; margin-top:3rem;">

    <img src="https://st2.depositphotos.com/3591429/10366/i/600/depositphotos_103669794-stock-photo-conversation-in-college-campus.jpg" 
    alt="ecommerce" 
    style="
        height: 25rem; 
        width:100%; 
        objet-fit:cover; 
        opacity:.6;
        position:relative">
    
    <div 
    class="input-group w-50"
    style="
    position:absolute;
    top:80%;
    left:25%;
    z-index: 10;">
        <button class="btn btn-outline-secondary dropdown-toggle text-white border-dark border-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">Seleccione</button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Notebooks</a></li>
            <li><a class="dropdown-item" href="#">Monitores</a></li>
            <li><a class="dropdown-item" href="#">Accesorios</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
        <input type="text" class="form-control border-dark border-1" aria-label="Text input with dropdown button">
    </div>

</section>
