<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body >
    <div class="container-fluid m-0 p-0">
        {{> header}}
        
        {{>nav}}

        <section class="about section d-flex align-items-center" style="height: 100vh;">
            <div class="container ">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-fluid" src="https://via.placeholder.com/800x500" alt="Imagen sobre nosotros">
                    </div>
                    <div class="col-md-6">
                        <h2 class="mt-40">Sobre nuestro negocio</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius enim, accusantium repellat ex
                            autem
                            numquam iure officiis facere vitae itaque.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam qui vel cupiditate exercitationem,
                            ea
                            fuga est velit nulla culpa modi quis iste tempora non, suscipit repellendus labore voluptatem
                            dicta
                            amet?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam qui vel cupiditate exercitationem,
                            ea
                            fuga est velit nulla culpa modi quis iste tempora non, suscipit repellendus labore voluptatem
                            dicta
                            amet?</p>
                        <a href="/contacto" class="btn btn-info mt-20">Contáctenos</a>
                    </div>
                </div>

            </div>
        </section>

        {{>footer}}
    </div>
</body>
</html>
