<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
    <title>Login</title>
</head>

<body class="login">

{{#if error}}
    <div class="alert alert-danger text-center" role="alert">
        {{error}}
    </div>
{{/if}}
<main class="form-signin d-flex flex-column align-items-center">
    <img src="https://thumbs.dreamstime.com/b/roof-logo-design-property-template-architect-architecture-construction-house-developing-consultant-office-related-to-168756548.jpg" 
    alt="company logo"
    style="width: 18rem; height:18rem;"
    >
    <form action="login" method="post" class="mt-1">

        <h1 class="h3 mb-3 text-center">Acceso al panel de control</h1>

        <div class="form-floating" style="margin:1rem 0;">
            <input type="email" class="form-control" id="username" placeholder="name@example.com" name="username">
            <label for="username">Usuario</label>
        </div>
        <div class="form-floating" style="margin:1rem 0;">
            <input type="password" class="form-control" id="password" placeholder="Contraseña" name="password">
            <label for="password">Contraseña</label>
        </div>


        <button class="w-100 btn btn-lg btn-info" type="submit" style="margin:1rem 0;">Entrar</button>
    <footer class="d-flex flex-column">
        <a href="/" class="my-2"> < Volver a Inicio</a>
    </footer>
    </form>


</main>



</body>

</html>